@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-main: #818cf8;
  --bg-timer-box: #a5b4fc;
  --bg-hours: #18181b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg-main);
  max-height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
}

.main-image {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.main-image img {
  width: 400px;
}

#container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-box {
  background-color: var(--bg-timer-box);
  box-shadow: 3px 3px 10px #646464;
  height: 400px;
  width: 50%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.box {
  background-color: var(--bg-hours);
  width: 280px;
  height: 300px;
  border-radius: 7px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hours,
.minutes,
.seconds {
  font-size: 7em;
  font-weight: 600;
  line-height: 120px;
}

.timer-text {
  font-size: 22px;
}

